<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" aria-label="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="search">
      <ion-icon name="search-outline" aria-label="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="chat">
      <ion-icon name="chatbox-ellipses-outline" aria-label="chat"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="profile">
      <ion-icon name="person-outline" aria-label="profile"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
