ion-title {
  margin: 10% 0 5% 0;
  font-size: 50px;
  font-family: Arial, sans-serif;
}

.btnSocial {
  font-size: 25px;
  width: 55px;
  height: 55px;
  margin: 20px 10px;
  border: 2px solid lightgrey;
  border-radius: 50px;
}

p {
  color: #9f9a9a;
  font-size: 18px;
}

ion-row {
  height: 100%
}

ion-col {
  margin: 20px 0 20px 0;
  border: solid #ef5ca6;
  width: 45%;
  box-shadow: grey;
  transition: transform 1s ease; //esto es la transición.
}

form {
  margin: 0 10% 0 10%;
}

.miInput {
  border: solid lightgrey;
  margin: 5px;
}


.btnIniciarSesion {
  border: 2px solid #fcbb14;
  border-radius: 20px;
  --border-radius: 20px;
  color: white;
  background: #ef5ca6;
  --background: #ef5ca6;
  font-size: 28px;
  margin-left: 28%;
}

#sign-up {
  border: 2px solid #ef5ca6;
  width: 45%;
  background: linear-gradient(to right, #fcbb14, #ef5ca6);
}

.intercambiar .derecha {
  transform: translateX(-100%);
}

.intercambiar .izquierda {
  transform: translateX(100%);
}

.titulo2 {
  color: white;
  margin-top: 25%;
}

.h3 {
  margin-top: 10%;
  color: white;
}

.btnCol2 {
  border: 2px solid white;
  border-radius: 20px;
  --border-radius: 20px;
  color: white;
  background: #fcbb14;
  --background: linear-gradient(to right, #ef5ca6, #fcbb14);
  font-size: 28px;
  margin-left: 30%;
  margin-top: 22%;
}

.btnCrearCuenta {
  border: 2px solid #fcbb14;
  border-radius: 20px;
  --border-radius: 20px;
  color: white;
  background: #ef5ca6;
  --background: #ef5ca6;
  font-size: 28px;
  margin-left: 31%;
  margin-top: 5%;
}
ion-item {
  position: relative;
}

.mensaje-error {
  font-size: 14px;
  color: red;
  bottom: 5px;
  left: 10px;
}



